li{
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 75px;
  list-style-type: none;
}

label{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

.link{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-decoration: none;
  text-align: center;
  color: black;
}

.navLink{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-decoration: none;
  padding-right: 2%;
  color: black;
}
.navBar{
  padding-top: 50px;
}

.questionText{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-decoration: none;
  padding-right: 2%;
  color: black;
}

.wordColl {
  min-width: 10em;
  margin-top: 1.6em;
  margin-right: 3em;
}
.word {
  margin-top: 0em;
  font-size: 3em;
}
.furugana {
  font-size: 1em;
}
.kanjiColl{
  min-width: 3.5em;
  margin-top: 1.6em;
}
.kanji{
  font-size: 2em;
}
.kanjiMeanings{
  font-size: 1em;
}

.kunReading::before{
  content: 'Kun: ';
  color: white;
  font-size: 1em;
  font-weight: bold;
  margin-right: 1em;
}

.onReading::before{
  content: 'On: ';
  color: white;
  font-size: 1em;
  font-weight: bold;
  margin-right: 1em;
}


